* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#accueil,
footer h2 {
    font-family: Shrikhand;
}

h1,
h2,
h3,
p,
li {
    font-family: Roboto;
}

#accueil {
    display: flex;
    justify-content: center;
}

/*menu*/
.iconohmy {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accueil {
    font-size: 32px;
}

.return {
    margin-right: 20%;
    margin-left: -21%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

.iconohmy a {
    color: black;
}

.backgroundimg {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.over {
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    padding: 8% 0;
}

.titrerestaurant {
    position: absolute;
    z-index: 1;
    background-color: #f7f7f7;
    left: 0;
    right: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: -40px;
    padding: 8% 5% 1% 5%;
}

.titrerestaurant h1 {
    display: flex;
    justify-content: space-between;
    font-family: Shrikhand;
}

.plats {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 15px;
    margin: 4%;
    overflow: hidden;
    animation: open 1300ms forwards;
    opacity: 0;
    padding: 0 8px;
    width: 300px;
}

@keyframes open {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

.plats h3 {
    padding-bottom: 1%;
}

.plats p {
    display: inline;
}

.allplats {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lignebas {
    display: flex;
    justify-content: space-between;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
}

.overflowbis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prix {
    padding-right: 4%;
}

.gauche {
    width: 102%;
    transition: all 1s;
    padding: 2% 3% 2% 0;
}

.gauche:hover~.droite>i {
    animation: rotation 1s;
}

.gauche:hover {
    width: 79%;
    transition: all 1s;
}

.droite {
    background-color: #99e2d0;
    color: white;
    transition: all 1s;
    display: flex;
    justify-content: center;
    min-width: 63px;
    margin-right: -96px;
    padding: 28px 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tplats {
    font-weight: normal;
    margin: 5% 0 1% 4%;
}

.tplats::after {
    display: block;
    content: "";
    background-color: #99e2d0;
    color: #99e2d0;
    width: 12%;
    height: 2px;
}

.last {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

.commander {
    border: none;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border-radius: 30px;
    padding: 4% 15%;
    box-shadow: 0 0 16px #0000002e;
    margin: 5% 0;
}

/*fin menu*/
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    opacity: 1;
    animation: opa 2s linear forwards;
}

@keyframes opa {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear;
    animation: spin 2s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* @-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
} */

.position {
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.top,
.fonctionnement,
.restaurants {
    padding: 6% 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 10% 8% 10%;
}

.top .center {
    text-align: center;
}

.top button {
    border: none;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border-radius: 30px;
    padding: 8%;
}

.explorer {
    white-space: nowrap;
    margin-right: 30px;
}

.top,
.restaurants {
    background-color: #f7f7f7;
}

.top p {
    padding: 5% 0;
    color: grey;
}

.titre {
    font-family: Roboto;
}

.fonctionnement h2,
.restaurants h2 {
    margin: 30px;
    font-size: 24px;
}

.filtre {
    border-radius: 15px;
    margin: 20px 20px 20px 35px;
    background-color: #f7f7f7;
    box-shadow: 0 0 16px #0000002e;
    padding: 20px;
}

.filtre:hover {
    background-color: #f5edff;
}

.filtre:hover i {
    color: #9356DC;
}

.filtre p {
    display: inline;
}

.numero {
    display: flex;
    justify-content: center;
    padding: 1px 6px;
    margin-left: -30px;
    background-color: #9356DC;
    border-radius: 32px;
    width: 20px;
    height: 20px;
    color: white;
}

.filtre i {
    margin: 0 10% 0 5%;
}

.card {
    border-radius: 20px;
    margin: 30px;
    background-color: white;
    position: relative;
}

.cardnew {
    position: absolute;
    background-color: #99e2d0;
    color: #038968;
    padding: 5px;
    top: 6%;
    right: 3%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-heart {
    margin: 0 20px 10px 0;
    font-size: 21px;
}

.heart {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
}

.heart:checked~.fa-heart {
    background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    animation: heartopacity 1.5s;
}

.fa-heart:hover {
    cursor: pointer;
}

@keyframes heartopacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.texte {
    padding: 2% 0 4% 4%;
}

article img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.tmenu {
    font-weight: bold;
}

footer {
    padding: 0 0 5% 5%;
    color: #ffffff;
    background-color: #353535;
}

footer h3 {
    padding: 3% 0;
    font-size: medium;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul li {
    list-style: none;
}

@media (min-width: 768px) {
    article img {
        height: 150px;
    }

    .backgroundimg {
        height: 150px;
    }

    .position {
        padding: 0;
    }

    .top,
    .fonctionnement,
    .restaurants {
        padding: 0 0 1% 0;
    }

    .top h2 {
        padding-top: 3%;
    }

    .top p {
        padding: 2%;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtre {
        width: 40%;
        padding-right: 0;
    }

    .filtre p,
    .filtre i {
        font-size: 16px;
    }

    .restaurants h2 {
        margin: 0;
        padding: 30px 0 10px 30px;
    }

    .allcards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 40%;
    }

    footer {
        padding: 0;
    }

    footer h2 {
        margin-left: 20px;
    }

    footer ul {
        padding-bottom: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* menu */
    .over {
        padding: 1% 0;
    }

    .titrerestaurant {
        padding: 1% 5% 1% 5%;
        top: -40px;
    }

    .titrerestaurant h1 {
        padding-left: 3%;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .plats {
        width: 555px;
        margin: 1%;
    }

    .entrees,
    .plat,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .gauche:hover~.droite {
        margin-right: -20px;
        transition: all 1s;
    } */
    .gauche:hover {
        width: 469px;
        transition: all 1s;
    }

    .gauche {
        width: 561px;
    }

    .droite {
        min-width: 90px;
        margin-right: -110px;
        padding: 32px 0px;
    }

    .tplats {
        margin: 1% 0;
    }

    .tplats::after {
        width: auto;
    }

    .commander {
        font-size: 24px;
        padding: 2% 5%;
        margin: 1%;
    }

    h3,
    p,
    i {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    article img {
        height: 200px;
    }

    .filtres {
        padding: 0 20px;
    }

    .backgroundimg {
        height: 200px;
    }

    .position {
        padding: 0;
    }

    .top,
    .fonctionnement,
    .restaurants {
        padding: 0 0 1% 0;
    }

    .top h2 {
        padding-top: 3%;
    }

    .top p {
        padding: 2%;
    }

    .filtres {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .filtre {
        width: 70%;
    }

    .filtre p,
    .filtre i {
        font-size: 16px;
    }

    .fonctionnement h2,
    .restaurants h2 {
        margin: 0;
        padding: 30px 0 10px 50px;
    }

    .allcards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 40%;
    }

    footer {
        padding: 0;
    }

    footer h2 {
        padding: 1% 0 1% 3%;
        margin-left: 0px;
    }

    footer ul {
        padding-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* menu */
    .over {
        padding: 1% 0;
    }

    .titrerestaurant {
        padding: 1% 5% 1% 5%;
        top: -40px;
    }

    .titrerestaurant h2 {
        padding-left: 5%;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .plats {
        width: 800px;
        margin: 1%;
    }

    .entrees,
    .plat,
    .desserts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .gauche:hover~.droite {
        margin-right: -29px;
        transition: all 1s;
    } */
    .gauche:hover {
        width: 674px;
        transition: all 1s;
    }

    .gauche {
        width: 805px;
    }

    .droite {
        min-width: 110px;
        margin-right: -139px;
        padding: 40px 0px;
    }

    .tplats {
        margin: 1% 0;
    }

    .tplats::after {
        width: auto;
    }

    .commander {
        font-size: 24px;
        padding: 2% 5%;
        margin: 1%;
    }

    h3,
    p,
    i {
        font-size: 20px;
    }
}